@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family:'Roboto', Courier, monospace;
}
 /*Styles + color*/
footer,header{
   background-color: #1F2937;
   color: #f9faf8;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}

.hero-container{
    background-color: #1F2937;

}
.hero-title{
    color: #F9FAF8;
    font-size:48px;
    font-weight:bolder; 
}
.hero-description{
    color: #F9FAF8;
    font-size:18px;
    
}


/*header style*/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}




.header-links{
    display: flex;
    gap: 20px;px; 
    


}
/*hero style*/
.hero-container{

    display: flex;
}




